<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DoSomethingManagers" value="robertswalker@gmail.com,wcbandmom@gmail.com"/>
    <add key="smtpserver" value="smtp.visitcrossway.org"/>
  </appSettings>
  <connectionStrings>
    <add name="dosomethingConnectionString" connectionString="Data Source=(localdb)\myinstance;Initial Catalog=dosomething;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="dosomethingConnectionString1" connectionString="Data Source=mssql.visitcrossway.com;Initial Catalog=dosomething;Persist Security Info=True;User ID=dosomething;Password=Dolly99x"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
      <authentication mode="None">
      </authentication>
  </system.web>
  <system.serviceModel>
      <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
      <bindings>
        <webHttpBinding>
          <binding name="MyBindingName" >
            <security mode="None">
              <transport clientCredentialType="Windows" />
            </security>
          </binding>
        </webHttpBinding>
      </bindings>
      <services>
        <service name="DoSomethingWeb.dsservice">
          <endpoint address="" binding="webHttpBinding" bindingConfiguration="MyBindingName" contract="DoSomethingWeb.dsservice">
          </endpoint>
        </service>
      </services>
  </system.serviceModel>
</configuration>